services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=postgres_players_dev
    depends_on:
      - db  
  
  db:
    image: postgres:16
    container_name: postgres_players_dev
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: laravel
    ports:
      - "5434:5432"